.tags {
  list-style: none;
  margin-left: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  display: inline-block;
}
.tags li {
  float: left;
  position: relative;
  margin: 0px 8px 6px;
  background: #000;
  color: #fff;
  padding: 0 16px;
  line-height: 1.5em;
  height: 1.5em;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-top-right-radius: 6px;
}
.tags li:before {
  border-top: solid 0.75em transparent;
  border-bottom: solid 0.75em transparent;
  border-right: solid 0.75em #000;
  border-left: none;
  content: "";
  float: left;
  height: 1.5em;
  left: -1.5em;
  position: absolute;
  top: 0;
  width: 1.5em;
}
.tags li:after {
  border-radius: 50%;
  content: "";
  float: left;
  height: 0.25em;
  left: 0;
  -moz-border-radius: 50%;
  position: absolute;
  top: 0.625em;
  -webkit-border-radius: 50%;
  width: 0.25em;
  background: #ffffff;
}
.tags li a {
  text-decoration: none;
  color: #fff;
}
.tag-default li {
  background: #777777;
  color: #ffffff;
}
.tag-default li:before {
  border-top: solid 0.75em transparent;
  border-bottom: solid 0.75em transparent;
  border-right: solid 0.75em #777777;
}
.tag-default li:after {
  box-shadow: -1px -1px 2px #6a6a6a;
  -moz-box-shadow: -1px -1px 2px #6a6a6a;
  -webkit-box-shadow: -1px -1px 2px #6a6a6a;
}
.tag-primary li {
  background: #337ab7;
  color: #ffffff;
}
.tag-primary li:before {
  border-top: solid 0.75em transparent;
  border-bottom: solid 0.75em transparent;
  border-right: solid 0.75em #337ab7;
}
.tag-primary li:after {
  box-shadow: -1px -1px 2px #2e6da4;
  -moz-box-shadow: -1px -1px 2px #2e6da4;
  -webkit-box-shadow: -1px -1px 2px #2e6da4;
}
.tag-success li {
  background: #5cb85c;
  color: #ffffff;
}
.tag-success li:before {
  border-top: solid 0.75em transparent;
  border-bottom: solid 0.75em transparent;
  border-right: solid 0.75em #5cb85c;
}
.tag-success li:after {
  box-shadow: -1px -1px 2px #4cae4c;
  -moz-box-shadow: -1px -1px 2px #4cae4c;
  -webkit-box-shadow: -1px -1px 2px #4cae4c;
}
.tag-info li {
  background: #5bc0de;
  color: #ffffff;
}
.tag-info li:before {
  border-top: solid 0.75em transparent;
  border-bottom: solid 0.75em transparent;
  border-right: solid 0.75em #5bc0de;
}
.tag-info li:after {
  box-shadow: -1px -1px 2px #46b8da;
  -moz-box-shadow: -1px -1px 2px #46b8da;
  -webkit-box-shadow: -1px -1px 2px #46b8da;
}
.tag-warning li {
  background: #f0ad4e;
  color: #ffffff;
}
.tag-warning li:before {
  border-top: solid 0.75em transparent;
  border-bottom: solid 0.75em transparent;
  border-right: solid 0.75em #f0ad4e;
}
.tag-warning li:after {
  box-shadow: -1px -1px 2px #eea236;
  -moz-box-shadow: -1px -1px 2px #eea236;
  -webkit-box-shadow: -1px -1px 2px #eea236;
}
.tag-danger li {
  background: #d9534f;
  color: #ffffff;
}
.tag-danger li:before {
  border-top: solid 0.75em transparent;
  border-bottom: solid 0.75em transparent;
  border-right: solid 0.75em #d9534f;
}
.tag-danger li:after {
  box-shadow: -1px -1px 2px #d43f3a;
  -moz-box-shadow: -1px -1px 2px #d43f3a;
  -webkit-box-shadow: -1px -1px 2px #d43f3a;
}
