---
layout: default
title: LitSarah
---

<section class="blog-header" id="about">
    <h1 class="blog-title">I'm Sarah Little and I am a budding analyst. I make knowledge accessable to everyone.</h1>
</section>

<section class="blog-post" id="biography">
    <p>A healthy interest in technology runs in my blood. My grandfather repaired televisions for a living. My uncle's a tinkerer. My brother administers virtual machines. And days out with my mother usually involved the gentle hum and chill air of server rooms.</p>

    <p>From the days of <code>C:/Windows run</code> to beautiful data-driven web pages, I seek to expand my skills in fun and interactive ways. My side projects generally involve one of my many other hobbies, such as photography, swing dancing, and bartending, which are generally more interesting than the retail systems I deal with during the day.</p>
</section>

<section class="blog-post" id="skills" itemscope itemtype="http://schema.org/ItemList">
    <h2 class="blog-post-title" itemprop="name">What I Work With</h2>

    <ul class="tags tag-primary">
    {% assign sorted_skills = (site.data.skills | sort: 'skill') %}
    {% for skill in sorted_skills %}
        <li itemprop="itemListElement">{{ skill.skill }}</li>
    {% endfor %}
    </ul>
</section>

<section class="blog-post" id="portfolio" itemscope itemtype="http://schema.org/ItemList">
    <h2 class="blog-post-title" itemprop="name">What I've Done</h2>

    <dl class="portfolio">
      {% for repository in site.github.public_repositories %}
        <dt class="fa fa-github-square" itemprop="itemListElement">
            <a itemprop="url" href="{{ repository.html_url }}">{{ repository.name }}</a> </dt>
        <dd itemprop="description">{{ repository.description }}</dd>
      {% endfor %}
        <dt class="fa fa-envelope-o" itemprop="itemListElement">
            <a itemprop="url" href="http://us3.campaign-archive2.com/?u=b8ba49cb2fbd275b8760dd57f&id=b7a5d4f688">Women in Technology of the Heartland Newsletter</a>
        </dt>
        <dd itemprop="description">Designed and created the biweekly emails for WITH from February 2014 to October 2014</dd>
    </dl>
</section>