<footer class="pt-5 mt-5 text-muted border-top">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>


    <div class="row">
      <div class="col-sm-6 col-lg">
        <ul class="contact-list list-unstyled">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="col-sm-6 col-lg">
        {%- include social.html -%}
      </div>

      <div class="col-sm-12 col-lg">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>


</footer>
