<!-- IndieWeb authorization -->
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
<!-- replace the below link with what aperture.p3k.io gives you after signing-in.
    (Details: https://indieweb.org/Microsub#Getting_Started)
    In summary:
    1. sign in to https://aperture.p3k.io/login with your domain
    2. you will see a <link> tag displayed on your dashboard
    3. copy that <link> tag that looks like:
      <link rel="microsub" href="https://aperture.p3k.io/microsub/000">
      after this HTML comment. -->