<div class="col-sm-3 blog-sidebar well well-sm" itemscope itemtype="http://schema.org/Person">
    <a data-toggle="collapse" data-target=".visible-xs" aria-expanded="false" aria-controls="collapse-contact">
        <img alt="{{ site.author.name }}" class="img-rounded" src="images/profile.png" itemprop="image">
    </a>
    <div class="visible-md visible-lg visible-sm hidden-xs list-group">
        <a href="mailto:{{ site.author.email }}" itemprop="email" class="fa fa-envelope-o list-group-item">&nbsp;Email</a>

        <a class="fa fa-github-square list-group-item" itemprop="url" href="https://github.com/{{ site.author.github }}" rel="me" title="View my GitHub">&nbsp;GitHub</a>

        <a class="fa fa-twitter-square list-group-item" itemprop="url" href="http://twitter.com/{{ site.author.twitter }}" rel="me" title="Follow me on Twitter">&nbsp;Twitter</a>

        <a class="fa fa-linkedin-square list-group-item" itemprop="url" href="http://www.linkedin.com/in/{{ site.author.linkedin }}/en" rel="me" title="View my LinkedIn profile">&nbsp;LinkedIn</a>

        <a class="fa fa-google-plus-square list-group-item" itemprop="url" href="https://plus.google.com/102352359605367746250" rel="me" title="View my Google+ profile">&nbsp;Google+</a>
    </div>
    <div class="collapse visible-xs hidden-md hidden-lg hidden-sm list-group" id="collapse-contact">
        <a href="mailto:{{ site.author.email }}" itemprop="email" class="fa fa-envelope-o list-group-item">&nbsp;Email</a>

        <a class="fa fa-github-square list-group-item" itemprop="url" href="https://github.com/{{ site.author.github }}" rel="me" title="View my GitHub">&nbsp;GitHub</a>

        <a class="fa fa-twitter-square list-group-item" itemprop="url" href="http://twitter.com/{{ site.author.twitter }}" rel="me" title="Follow me on Twitter">&nbsp;Twitter</a>

        <a class="fa fa-linkedin-square list-group-item" itemprop="url" href="http://www.linkedin.com/in/{{ site.author.linkedin }}/en" rel="me" title="View my LinkedIn profile">&nbsp;LinkedIn</a>

        <a class="fa fa-google-plus-square list-group-item" itemprop="url" href="https://plus.google.com/102352359605367746250" rel="me" title="View my Google+ profile">&nbsp;Google+</a>
    </div>
</div>